---
import { ConditionsTabs } from "@/components/Pages/Conditions/ConditionsTabs";
import { TarifCard } from "@/components/Pages/Tarifs/TarifCard";
import MainTitle from "@/components/Shared/MainTitle.astro";
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Container from "@/layouts/Container.astro";
import { wpFetch } from "@/lib/wp";

interface Car {
  acf: any;
  title: {
    rendered: string;
  };
  slug: string;
}

const cars: Car[] = await wpFetch("/wp/v2/cars?per_page=100");
const page = await wpFetch("/wp/v2/pages/193");
const { acf: pageData } = page;
const { seo } = pageData;

const ymd = new Date().toISOString().split("T")[0];

const jsonLd = [
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    headline: seo.seo_title,
    datePublished: ymd,
    dateModified: ymd,
    inLanguage: "ru",
    description: seo.short_description,
    mainEntityOfPage: { "@type": "WebPage", "@id": "https://car1.by" },
    image: seo.image,
    email: "car1prokat@gmail.com",
    contactPoint: {
      "@type": "ContactPoint",
      telephone: "+375 25 780-88-08",
      contactType: "customer service",
      areaServed: "BY",
      availableLanguage: ["Russian", "English"],
    },
    address: {
      "@type": "PostalAddress",
      addressLocality: "Брест",
      addressCountry: "BY",
      streetAddress: "ул. Шоссейная, 16, офис 202",
    },
    sameAs: [
      "https://api.whatsapp.com/send/?phone=375257808808",
      "https://t.me/Car4_brest",
      "https://www.instagram.com/car4.by/",
    ],
  },
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    name: seo.seo_title,
    url: "https://car1.by/",
  },
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    itemListElement: [
      {
        "@type": "ListItem",
        position: 1,
        name: "Главная",
        item: "https://car1.by/",
      },
      {
        "@type": "ListItem",
        position: 2,
        name: "Тарифы",
        item: "https://car1.by/tarifs/",
      },
    ],
  },
];

---

<BaseLayout
  className="scrolled"
  title={seo.seo_title}
  image={seo.image}
  jsonLd={jsonLd}
  description={seo.short_description}
>
  <Container class="my-24">
    <Breadcrumb>
      <BreadcrumbList>
        <BreadcrumbItem>
          <BreadcrumbLink href="/">Главная</BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <BreadcrumbPage>{page.title.rendered}</BreadcrumbPage>
        </BreadcrumbItem>
      </BreadcrumbList>
    </Breadcrumb>
    <MainTitle title={page.title.rendered} />

    <div class="flex flex-col gap-4">
      {cars.map((car) => <TarifCard car={car} client:load />)}
    </div>
  </Container>
</BaseLayout>
