---
import { EarthIcon } from "@/components/Shared/Icons";
import Container from "@/layouts/Container.astro";
import { Image } from "astro:assets";

interface Props {
  about_us: any;
  status: any;
}

interface ItemsProps {
  title?: string;
  description: string;
}

const { about_us, status } = Astro.props;

const h3Style = "text-denim-300 font-thin text-4xl md:text-6xl mb-2 md:mb-4";
const pStyle = "text-denim-900 text-xs md:text-base mb-4 md:mb-0";
---

<section class="w-full bg-denim-400 py-10 lg:py-[70px]">
  <Container class="flex flex-col gap-10">
    <div class="w-full grid grid-cols-2 gap-10">
      <Image
        src={about_us?.image}
        width={800}
        height={800}
        alt="about us"
        fetchpriority="high"
        decoding="async"
        loading="lazy"
        class="w-full h-full object-cover rounded-xl shadow-md"
      />
      <div>
        <h3 class={h3Style}>{about_us?.title || ""}</h3>
        <p class={pStyle}>{about_us?.description || ""}</p>
      </div>
    </div>
    <div class="grid grid-cols-4 gap-y-6 md:gap-y-16 w-full">
      {
        (status || []).map((i: ItemsProps) => (
          <div class="self-end">
            {i.title ? (
              <h3 class={h3Style}>{i.title}</h3>
            ) : (
              <EarthIcon className="text-denim-300 w-[60px] mb-4" />
            )}
            <p class={pStyle}>{i.description || ""}</p>
          </div>
        ))
      }
    </div>
  </Container>
</section>
