---

import SectionTitle from "@/components/Shared/SectionTitle.astro";
import Container from "@/layouts/Container.astro";
import { cn } from "@/lib/utils";
import { wpFetch } from "@/lib/wp";

const { acf } = await wpFetch("/acf/v3/options/options");
const subCardClass = "flex flex-row-reverse items-center justify-end gap-6";
const cardClass = "p-6 shadow-xl rounded-xl flex flex-col gap-4";
---

<section class="py-10 lg:py-[75px]">
  <Container >
    <SectionTitle title="Условия аренды" />

    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-5 text-gray-800/90 md:p-3 md:px-40 "
    >
      <div class={cardClass}>
        <h3 class="text-lg md:text-2xl tracking-tight font-semibold h-[64px]">
          {acf["2_block"]["2_block_title"]}
        </h3>

        <div class={subCardClass}>
          <p class="text-base md:text-xl leading-snug">
            {acf["1_block"].text}
          </p>
          <div
            class="relative flex-shrink-0 size-16 rounded-full border-2 border-denim-300 grid place-items-center"
          >
            <span class="text-2xl md:text-4xl font-semibold"
              >{acf["1_block"].number}</span
            >
          </div>
        </div>

        <div class={subCardClass}>
          <p class="text-base md:text-xl leading-snug">
            {acf["2_block"].text}
          </p>
          <div
            class="min-w-16 h-16 md:h20 rounded-xl border-2 border-denim-300 grid place-items-center"
          >
            <span class="text-xl font-bold">РБ</span>
          </div>
        </div>

        <div class={subCardClass}>
          <p class="text-base md:text-xl leading-snug">
            {acf["2_block"].text_2}
          </p>
          <div
            class="min-w-16 h-16 md:h20 rounded-xl border-2 border-denim-300 grid place-items-center"
          >
            <svg
              viewBox="0 0 24 24"
              class="w-10 h-10"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
            >
              <rect x="3" y="5" width="18" height="14" rx="2"></rect>
              <circle cx="8" cy="12" r="2.5"></circle>
              <path d="M13 10h6M13 14h6"></path>
            </svg>
          </div>
        </div>

        <div class={subCardClass}>
          <p class="text-base md:text-xl leading-snug">
            {acf["2_block"].text_3}
          </p>
          <div
            class="min-w-16 h-16 md:h20 rounded-xl border-2 border-denim-300 grid place-items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-wallet-icon lucide-wallet"
              ><path
                d="M19 7V4a1 1 0 0 0-1-1H5a2 2 0 0 0 0 4h15a1 1 0 0 1 1 1v4h-3a2 2 0 0 0 0 4h3a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1"
              ></path><path d="M3 5v14a2 2 0 0 0 2 2h15a1 1 0 0 0 1-1v-4"
              ></path></svg
            >
          </div>
        </div>
      </div>

      <div class={cardClass}>
        <h3 class="text-lg md:text-2xl tracking-tight font-semibold  h-[64px]">
          {acf["3_block"]["3_block_title"]}
        </h3>
        <div class={subCardClass}>
          <p class="text-base md:text-xl leading-snug">
            {acf["1_block"].text}
          </p>
          <div
            class="relative flex-shrink-0 size-16 rounded-full border-2 border-denim-300 grid place-items-center"
          >
            <span class="text-2xl md:text-4xl font-semibold"
              >{acf["1_block"].number}</span
            >
          </div>
        </div>

        <div class={subCardClass}>
          <p class="text-base md:text-xl leading-snug">
            {acf["3_block"].text}
          </p>
          <div
            class="min-w-16 h-16 md:h20 rounded-xl border-2 border-denim-300 grid place-items-center"
          >
            <svg
              viewBox="0 0 24 24"
              class="w-8 h-8"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
            >
              <circle cx="12" cy="12" r="9"></circle>
              <path d="M3 12h18M12 3c3 3 3 15 0 18M12 3c-3 3-3 15 0 18"></path>
            </svg>
          </div>
        </div>

        <div class={subCardClass}>
          <p class="text-base md:text-xl leading-snug">
            {acf["2_block"].text_2}
          </p>
          <div
            class="min-w-16 h-16 md:h20 rounded-xl border-2 border-denim-300 grid place-items-center"
          >
            <svg
              viewBox="0 0 24 24"
              class="w-10 h-10"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
            >
              <rect x="3" y="5" width="18" height="14" rx="2"></rect>
              <circle cx="8" cy="12" r="2.5"></circle>
              <path d="M13 10h6M13 14h6"></path>
            </svg>
          </div>
        </div>

        <div class={subCardClass}>
          <p class="text-base md:text-xl leading-snug">
            {acf["3_block"].text_3}
          </p>
          <div
            class="min-w-16 h-16 md:h20 rounded-xl border-2 border-denim-300 grid place-items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-wallet-icon lucide-wallet"
              ><path
                d="M19 7V4a1 1 0 0 0-1-1H5a2 2 0 0 0 0 4h15a1 1 0 0 1 1 1v4h-3a2 2 0 0 0 0 4h3a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1"
              ></path><path d="M3 5v14a2 2 0 0 0 2 2h15a1 1 0 0 0 1-1v-4"
              ></path></svg
            >
          </div>
        </div>
      </div>

      <div class={cn('md:col-span-2', cardClass)}>
        <h3 class="text-lg md:text-2xl tracking-tight font-semibold  h-[64px]">
          {acf["4_block"]["4_block_title"]}
        </h3>
        <div
          class="text-base md:text-xl leading-snug space-y-4"
          set:html={acf["4_block"].terms_of_rental}
        />
      </div>
    </div>
  </Container>
</section>
