---
import CarInfo from "@/components/Pages/Car/CarInfo.astro";
import { CarSlider } from "@/components/Pages/Car/CarSlider";
import { RentalCalculatorCard } from "@/components/Pages/Car/OrderCard";
import { RequirementsBlock } from "@/components/Pages/Car/ReqBlock";
import ConditionSection from "@/components/Pages/Home/Sections/ConditionSection.astro";
import MapSection from "@/components/Pages/Home/Sections/MapSection.astro";
import PopularAuto from "@/components/Pages/Home/Sections/PopularAuto.astro";
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Container from "@/layouts/Container.astro";
import { wpFetch } from "@/lib/wp";

export async function getStaticPaths() {
  const cars = await wpFetch(`/wp/v2/cars?per_page=100`);
  return cars.map((car: any) => ({
    params: { slug: car.slug },
    props: { car },
  }));
}

interface Props {
  car: {
    acf: any;
    recomendation_auto: any;
    title: {
      rendered: string;
    };
  };
}
const { car } = Astro.props;
const { acf } = car;
---

<BaseLayout
  title={car.title.rendered}
  image={acf.car.car_images[0]}
  className="scrolled"
>
  <div class="w-full mt-24">
    <Container>
      <h1 class="text-3xl text-denim-900 font-bold mb-8">
        {car.title.rendered}
      </h1>
      <Breadcrumb>
        <BreadcrumbList>
          <BreadcrumbItem>
            <BreadcrumbLink href="/">Главная</BreadcrumbLink>
          </BreadcrumbItem>
          <BreadcrumbSeparator />
          <BreadcrumbItem>
            <BreadcrumbLink href={`/cars`}>Автопарк</BreadcrumbLink>
          </BreadcrumbItem>
          <BreadcrumbSeparator />
          <BreadcrumbItem>
            <BreadcrumbPage>{car.title.rendered}</BreadcrumbPage>
          </BreadcrumbItem>
        </BreadcrumbList>
      </Breadcrumb>
    </Container>
    <Container big>
      <CarSlider images={acf.car.car_images} client:only="react" />
    </Container>
    <!-- <Container>
      <RequirementsBlock client:load />
    </Container> -->
    <Container class="grid grid-cols-1 md:grid-cols-[70%_1fr] gap-4 mb-10">
      <CarInfo fields={acf} {car} />
      <RentalCalculatorCard fields={acf} client:load />
    </Container>
    <ConditionSection />
    <PopularAuto fields={acf.recomendation_auto} />
    <MapSection />
  </div>
</BaseLayout>
