---
import globalStyles from "@styles/global.css?inline";
import { ClientRouter } from "astro:transitions";
import Header from "@/layouts/Header.astro";
import Footer from "./Footer.astro";
import Seo from "./Seo.astro";
import { wpFetch } from "@/lib/wp";
import { cn } from "@/lib/utils";
import GlobalSheet from "@/components/Shared/Modals/GlobalSheet";
import { CallbackModal } from "@/components/Shared/Modals/OrderCallModal";
import { FormResulatModal } from "@/components/Shared/Modals/FormResultModal";

const {
  title,
  description = "",
  keywords = "",
  canonical = "",
  image,
  jsonLd,
  className,
} = Astro.props;
const { acf } = await wpFetch("/acf/v3/options/options");

const links = [
  { name: "Главная", link: "/" },
  { name: "Автопарк", link: "/cars" },
  { name: "Условия", link: "/conditions" },
  {
    name: "Услуги",
    childs: [
      {
        name: "Прокат авто на сутки",
        link: "/arenda-avto-na-sutki",
      },
      {
        name: "Аренда авто на выходные",
        link: "/arenda-avto-na-vyhodnye",
      },
      {
        name: "Аренда авто на месяц",
        link: "/arenda-avto-na-mesyac",
      },
      {
        name: "Аренда авто без водителя",
        link: "/arenda-avto-bez-voditelya",
      },
      {
        name: "Аренда авто на свадьбу",
        link: "/arenda-avto-na-svadbu",
      },
      {
        name: "Аренда авто с водителем",
        link: "/arenda-avto-s-voditelem",
      },
      {
        name: "Каршеринг авто",
        link: "/karshering-avto",
      },
      {
        name: "Долгосрочная аренда автомобилей",
        link: "/dolgdolgosrochnaya-arenda-avtomobilej",
      },
    ],
  },
  { name: "Тарифы", link: "/tarifs" },
  { name: "Новости", link: "/blog" },
  { name: "Контакты", link: "#footer" },
];
---

<!doctype html>
<html lang="ru" class="h-full">
  <head>
    <Seo {title} {description} {keywords} {canonical} {image} />
    {
      jsonLd && (
        <script type="application/ld+json" set:html={JSON.stringify(jsonLd)} />
      )
    }
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <style is:global set:html={globalStyles} />
    <ClientRouter />
  </head>
  <body
    class={cn("min-h-screen bg-gray-50 text-gray-900 flex flex-col", className)}
  >
    <Header data={acf} {links} />
    <main class="flex-1">
      <slot />
    </main>
    <GlobalSheet client:load />
    <CallbackModal client:load />
    <FormResulatModal client:load />
    <Footer data={acf} {links} />
  </body>
</html>
