---
import "@styles/global.css";
import { ClientRouter } from "astro:transitions";
import Header from "@/layouts/Header.astro";
import Footer from "./Footer.astro";
import Seo from "./Seo.astro";
import { wpFetch } from "@/lib/wp";
import { cn } from "@/lib/utils";
import GlobalSheet from "@/components/Shared/GlobalSheet";
import { CallbackModal } from "@/components/Shared/OrderCallModal";

const {
  title,
  description = "",
  keywords = "",
  canonical = "",
  image,
  jsonLd,
  className
} = Astro.props;
const { acf } = await wpFetch('/acf/v3/options/options');

const links = [
  { name: "Главная", link: "/" },
  { name: "Автопарк", link: "/cars" },
  { name: "Условия", link: "/conditions" },
  {
    name: "Услуги",
    childs: [
      {
        name: "Аренда свадебных авто в Бресте",
        link: "/arenda-svadebnyh-avto-v-breste",
      },
      {
        name: "Аренда авто без водителя в Бресте ",
        link: "/arenda-avto-bez-voditelya-v-breste",
      },
      {
        name: "Аренда авто для юридических лиц в Бресте ",
        link: "/arenda-avto-dlya-yuridicheskih-licz-v-breste",
      },
      {
        name: "Аренда авто с АКПП в Бресте",
        link: "/arenda-avto-s-akpp-v-breste",
      },
      {
        name: "Долгосрочная аренда автомобилей в Бресте",
        link: "/dolgdolgosrochnaya_arenda_avtomobilej",
      },
    ],
  },
  { name: "Тарифы", link: '/tarifs'},
  { name: "Новости", link: "/blog" },
];

---

<!doctype html>
<html lang="ru" class="h-full">
  <head>
    <Seo {title} {description} {keywords} {canonical} {image} />
    {jsonLd &&<script type="application/ld+json" set:html={JSON.stringify(jsonLd)} />}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&display=swap" rel="stylesheet">
    <ClientRouter />
  </head>
  <body class={cn("min-h-screen bg-gray-50 text-gray-900 flex flex-col", className)}>
    <Header data={acf} {links} />
    <main class="flex-1">
      <slot />
    </main>
    <GlobalSheet client:load />
    <CallbackModal client:load />
    <Footer data={acf} {links} />
  </body>
</html>
