---
import MobileMenu from "@/components/Shared/MobileMenu";
import { DesctopMenu } from "@/components/Shared/DesctopMenu";
import Logo from "@assets/icons/Car1Logo.svg";
import { Phone, MapPin, ClockAlert } from "lucide-astro";
import SocialLinks from "@/components/Shared/SocialLinks.astro";

const { links, data } = Astro.props;
---

<header
  class="w-[calc(100%_-1rem)] px-5 py-2 lg:py-2 flex items-center fixed top-2
  left-1/2 -translate-x-1/2 z-40 bg-gray-800/10
  transition-all duration-300 ease-in-out
  shadow-md rounded-xl [.scrolled_&]:bg-gray-800/90"
>
  <div class="flex w-full justify-between items-center">
    <div class="flex gap-10 items-center">
      <a href="/"><Logo class="h-[32px]" /></a>
      <div class="hidden md:flex flex-col">
        <a
          href={`tel:${data.phone}`}
          class="text-sm text-white/80 font-semibold hover:text-denim-300 transition-color duration-300"
          >{data.phone}</a
        >
        <p class="text-xs text-white flex gap-2 items-center">
          <MapPin size="14" />{data.address}
        </p>
        <p class="text-xs text-white flex gap-2 items-center">
          <ClockAlert size="14" />{data.work_time}
        </p>
      </div>
      <SocialLinks {data} />
    </div>
    <DesctopMenu {links} client:load />
    <MobileMenu {links} acf={data} client:load />
  </div>
</header>
<script is:inline>
  const onScroll = () => {
    if (window.scrollY > 0) {
      document.documentElement.classList.add("scrolled");
    } else {
      document.documentElement.classList.remove("scrolled");
    }
  };

  window.addEventListener("scroll", onScroll);
  onScroll();
</script>
